.container {
  width: 155px;
  position: relative;
}

.subcontainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  font-size: 48px;
  font-weight: 400;
}